<nav>
    <div class="container-fluid nav-weather">
      <a href="/">
        <img src="images/svg/black.svg" alt="Logo" width="auto" height="60" class="d-inline-block align-text-top">
      </a>
      <div class="navbar-right">
        <ul >
            <li clas>
            <a href="#" class="link active">Explore nearby</a>
            </li>
        </ul>
      </div>
    </div>
</nav>